<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DepartureCity" value ="PAR"/>
    <add key="ArrivalCity" value="MSK"/>
    <add key="ReservationCode" value="1234567"/>
    <add key="FirstName" value="Pazha"/>
    <add key="LastName" value ="Morozov"/>
    <add key="FirstNamePassenger" value ="Andrew"/>
    <add key="SecondNamePassenger" value ="Abramenko"/>
    <add key="Email" value ="nikitasha98@mail.ru"/>
    <add key="MobilePhone" value ="441234567"/>
    <add key="Country" value ="Белоруссия"/>
  </appSettings>
</configuration>